body{
  background: #440000;
}

div.frame{
  width: 60%;
  background: #ededed;
  margin-left: 20%;
  margin-top: 40px;
  color: #770000;
  padding: 2%;
  padding-right: 3%;
  padding-left: 3%;
}

p, li{
  line-height: 150%;
  text-align: justify;
}